<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
    <div class="indicator">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
      </svg>
      @if(shoppingList().length>0){
        <span class="badge badge-sm badge-success indicator-item">{{shoppingList().length}}</span>
      }
    </div>
  </div>
  <div tabindex="0" class="card card-compact dropdown-content bg-base-100 z-1 mt-3 md:lg:xl:w-100 w-80 shadow">
    <div class="card-body">
      <span class="text-lg font-bold">{{shoppingList().length}} Items</span>
      <div class="scroll max-h-100 overflow-y-scroll">
        <ul class="list bg-base-100 rounded-box shadow-md m-2 ">
          @if(shoppingList().length>0){
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Productos que has añadido al carrito</li>
          }@else {<li class="p-4 pb-2 text-xs opacity-60 tracking-wide">No has añadido artículos aún</li>}

          @for(prod of shoppingList(); let i=$index;track i){
            <li class="list-row">
              <div>
                <img
                  class="size-14 rounded-xl"
                  [src]="prod.product.images.at(0)"
                />
              </div>
              <div class="list-col-grow">
                <div>{{prod.product.description | titlecase}}</div>
                <div class="text-xs titlecase font-semibold opacity-60">Talla {{prod.selectedSize}}</div>
                <div>
                  <div class="text-sm font-bold text-base-content/70 flex justify-between leading-relaxed ">
                    <span>{{prod.quantity}}</span>
                    {{prod.product.price*prod.quantity!| currency : 'COP' : 'symbol' : '1.0-0' }}
                  </div>
                </div>
              </div>
            </li>
          }
        </ul>
      </div>
      <span class="text-success-content text-md">Subtotal: {{total()|currency : 'COP' : 'symbol' : '1.0-0' }}</span>
      <div class="card-actions">
        <button class="btn btn-primary btn-block" [routerLink]="['/cart']">Ver la bolsa</button>
      </div>
    </div>
  </div>
</div>
