<div class="card bg-base-100 shadow-sm gap-0">
  <figure>
    <a [routerLink]="[product().id]">
      <img class="cursor-pointer" src="{{ product().images.at(0) }}" alt="product().description" />
    </a>
  </figure>
  <div class="card-body justify-start py-2">
    <h2 class="card-title font-Poppins">{{ product().description | titlecase }}</h2>
    <h2 class="card-title font-Poppins">
      Referencia <b>{{ product().reference }}</b>
    </h2>
    <h4 class="font-Poppins">
      {{ product().category | titlecase }} - {{ product().gender | gender }}
    </h4>
    <!-- <div class="flex items-center justify-start gap-3">
    <h4 class="inline-block font-bold text-gray-500 font-Poppins">
      {{ product().color | array }}
    </h4>
    <div class="flex gap-2">
      @for(color of product().color; track color){
        <div class="inline w-3.75 h-3.75" [style.backgroundColor]="color" style="border-radius: 50%;"></div>
      }
    </div>
    </div> -->
    <span class="text-xl font-semibold font-Poppins">{{
      product().price | currency : 'COP' : 'symbol' : '1.0-0'
    }}</span>
    <div class="flex justify-end gap-2">
      <div class="card-actions">
        <button class="btn btn-circle btn-lg btn-success font-Poppins">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7 22q-.825 0-1.412-.587T5 20t.588-1.412T7 18t1.413.588T9 20t-.587 1.413T7 22m10 0q-.825 0-1.412-.587T15 20t.588-1.412T17 18t1.413.588T19 20t-.587 1.413T17 22M3 4H2q-.425 0-.712-.288T1 3t.288-.712T2 2h1.65q.275 0 .525.15t.375.425L8.525 11h7l3.625-6.5q.125-.25.35-.375T20 4q.575 0 .863.488t.012.987L17.3 11.95q-.275.5-.737.775T15.55 13H8.1L7 15h11q.425 0 .713.288T19 16t-.288.713T18 17H7q-1.125 0-1.713-.975T5.25 14.05L6.6 11.6zm9.175 3H9q-.425 0-.712-.288T8 6t.288-.712T9 5h3.175l-.9-.9q-.3-.3-.288-.7t.313-.7q.3-.275.7-.288t.7.288l2.6 2.6q.3.3.3.7t-.3.7l-2.6 2.6q-.275.275-.687.288T11.3 9.3q-.275-.275-.275-.7t.275-.7z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
