<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <!--  -->
      @if(showFilters()){
        <app-right-navbar
          (filtersChange)="onFiltersChange($event)">
        </app-right-navbar>
      <!--  -->
      }
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-2xl font-Dancing font-black" href="#">Dianed Store</a>
  </div>
  <div class="navbar-end lg:xl:flex lg:xl:gap-5">
    <!--  -->
    @if(showSearchbar()){
      <app-search-bar (termino)="search($event)"/>
    }
    <!--  -->
    @if(showShoppingBag()){
       <app-shop-button></app-shop-button>
    }
  </div>
</div>
